.thesaurus-anchor {
}

#thesaurus-helper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 15px !important;
  color: #f8c91c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  font-family: sans-serif;
}

#thesaurus-helper-header {
  display: flex;
  margin: 20px;
  padding: 0 20px;
}

#thesaurus-helper-language-switch {
  align-self: center;
  margin-right: auto;
  color: #f8c91c;
  font-size: x-large;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#thesaurus-helper-language-switch label {
  margin-right: 5px;
}

#thesaurus-helper-language-switch select {
  background: #4c4c4c;
  border: 2px solid #f8c91c;
  border-radius: 4px;
  color: #f8c91c;
  font-size: x-large;
  font-weight: bold;
  margin-right: 15px;
  padding: 5px 10px;
}

#thesaurus-helper-language-switch select:after {
  color: #f8c91c;
}

#thesaurus-helper-language-switch select > option {
  background: #4c4c4c;
  color: #f8c91c;
}
#thesaurus-helper-language-switch select > option:disabled {
  background: #4c4c4c;
  color: lightgray;
}

#thesaurus-helper-close {
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  padding: 10px 18px;
  color: #f8c91c;
  font-size: x-large;
  font-weight: bold;
}

#thesaurus-helper-close:hover {
  background: #f8c91c;
  color: #1e2330;
}



#thesaurus-helper-body {
  display: grid;
  margin: 20px;
  padding: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

#thesaurus-helper-body > div {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

#thesaurus-helper-body .request-wrapper {
  grid-row: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  border-radius: 25px !important;
  webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 0.5px 0px solid rgba(255,255,255,0.15);
  background-color: rgba(0,0,0,0.05)!important;
}

#thesaurus-helper-body .request-wrapper input {
  flex-grow: 1;
  height: 60px;
  margin: 2px 5px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: none;
  border: none;
  color: #ffffff;
  line-height: 24px;
  box-shadow: none;
}

#thesaurus-helper-body .request-wrapper ::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
#thesaurus-helper-body .request-wrapper ::-webkit-input-placeholder {
  color: #ffffffb3;
}


#thesaurus-helper-body .request-wrapper input:focus{
  outline: none;
}

#thesaurus-helper-body .request-wrapper button {
  height: auto;
  margin: 5px;
  padding: 0 15px;
  background: #f8c91c;
  color: #1e2330;
  border: #f8c91c 1px solid;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  line-height: 0;
  cursor: pointer;
}

#thesaurus-helper-body .request-wrapper button:disabled {
  cursor: default;
  filter: grayscale(1);
}

#thesaurus-helper-body .result-wrapper {
  grid-row: 2;
  align-self: start;
  justify-self: center;
  width: 90%;
}

#thesaurus-suggestions .loading-spinner,
#thesaurus-suggestions .thesaurus-error {
  justify-self: center;
  text-align: center;
  width: 100%;
  min-height: 64px;
}

#thesaurus-suggestion-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr);
  font-size: large;
}

#thesaurus-suggestion-list .thesaurus-suggestion {
  cursor: pointer;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 9fr max-content;
  grid-template-rows: repeat(1fr);
}

#thesaurus-suggestion-list .thesaurus-suggestion:hover {
  background: #f8c91c;
  color: #1e2330;
}

#thesaurus-suggestion-list .thesaurus-suggestion .thesaurus-suggestion-caption {
  padding: 5px 15px 5px 30px;
  margin: 20px 0;
  align-self: center;
}

#thesaurus-suggestion-list .thesaurus-suggestion .thesaurus-suggestion-explanation {
  padding: 5px 15px;
  margin: 20px 0;
  align-self: center;
}

#thesaurus-suggestion-list .thesaurus-suggestion .thesaurus-suggestion-action-cta {
  width: 80px;
  align-self: center;
  text-align: right;
  padding: 5px 30px 5px 15px;
  margin: 0;
}

#thesaurus-suggestion-list .thesaurus-suggestion:hover .thesaurus-suggestion-action-cta::after {
  content: attr(data-action);
  color: #e91e63;
  font-weight: bold;
}



#thesaurus-helper-footer {
  margin: 20px;
  padding: 20px;
  display: flex;
}

#thesaurus-helper-footer > div {
  margin-left: auto;
}

#thesaurus-helper-footer p.team-note {
  text-align: right;
  color: #efc31f;
  font-size: small;
}

#thesaurus-helper-footer a {
  color: white;
}

#thesaurus-helper-footer p.team-note span.team-name::before {
  content: "Team 'Sort of Languagish'"
}
#thesaurus-helper-footer p.team-note:hover span.team-name::before {
  color: #e91e63;
  content: "Jerome, David, Lukas and Alex"
}
