.thesaurus-anchor {
}

#thesaurus-helper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  backdrop-filter: blur(10px);
  background-color: rgba(0,0,0,0.7);
  padding-bottom: 15px !important;
  color: #f8c91c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

#thesaurus-helper > div {
  margin: 20px;
  padding: 20px;
}

#thesaurus-helper-header {
  display: flex;
}

#thesaurus-helper-header a#close-thesaurus-helper {
  margin-left: auto;
  color: #f8c91c;
  font-size: x-large;
  font-weight: bold;
}

#thesaurus-helper-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

#thesaurus-helper-body > div {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
}

#thesaurus-helper-body .request-wrapper {
  grid-row: 1;
  align-self: center;
  justify-self: center;
  display: flex;
  border-radius: 25px !important;
  webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 0.5px 0px solid rgba(255,255,255,0.15);
  background-color: rgba(0,0,0,0.05)!important;
}

#thesaurus-helper-body .request-wrapper input {
  flex-grow: 1;
  height: 60px;
  margin: 2px 5px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background: none;
  border: none;
  color: #ffffff;
  line-height:  24px;
  box-shadow: none;
}

#thesaurus-helper-body .request-wrapper ::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
#thesaurus-helper-body .request-wrapper ::-webkit-input-placeholder {
  color: #ffffffb3;
}


#thesaurus-helper-body .request-wrapper input:focus{
  outline: none;
}

#thesaurus-helper-body .request-wrapper button {
  height: auto;
  margin: 5px;
  padding: 0 15px;
  background: #f8c91c;
  color: #1e2330;
  border: #f8c91c 1px solid;
  border-radius: 20px;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  line-height: 0;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper {
  grid-row: 2;
  align-self: start;
  justify-self: center;
  width: fit-content;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper ul#thesaurus-suggestion-list {
  margin: 0;
  padding: 2px;
  font-size: large;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper li.thesaurus-suggestion {
  list-style-type: none; /* Remove bullets */
  cursor: pointer;
  margin: 2px;
  padding: 2px;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper li.thesaurus-suggestion:hover {
  background: #f8c91c;
  color: #1e2330;
}


#thesaurus-helper-footer {
  display: none;
}

#thesaurus-helper-footer > div {
  width: 90%;
  align-self: start;
  justify-self: center;
}

#thesaurus-helper-footer p {
  background: #1e2330;
  padding: 10px 0;
  border-radius: 10px;
  color: #f8c91c;
  text-align: center;
  font-size: x-large;
}
