.thesaurus-anchor {
}

#thesaurus-helper {
  position: fixed;
  inset: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  background: rgb(30 35 48 / 85%);
  color: #f8c91c;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
}

#thesaurus-helper > div {
  margin: 20px;
  padding: 20px;
}

#thesaurus-helper-header {
  display: flex;
}

#thesaurus-helper-header a#close-thesaurus-helper {
  margin-left: auto;
  color: #f8c91c;
  font-size: x-large;
  font-weight: bold;
}

#thesaurus-helper-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
}

#thesaurus-helper-body > div {
  width: 90%;
}

#thesaurus-helper-body .request-wrapper {
  grid-row: 1;
  align-self: center;
  justify-self: center;
  display: flex;
}

#thesaurus-helper-body .request-wrapper input {
  flex-grow: 1;
  height: 60px;
  padding: 2px 15px;
  margin: 2px 5px;
  font-size: xx-large;
  background: #1e2330;
  color: #f8c91c;
  border: #f8c91c 5px solid;
  border-radius: 20px;
  box-shadow: none;
}

#thesaurus-helper-body .request-wrapper ::placeholder, /* Chrome, Firefox, Opera, Safari 10.1+ */
#thesaurus-helper-body .request-wrapper ::-webkit-input-placeholder {
  color: #ffffffb3;
}


#thesaurus-helper-body .request-wrapper input:focus{
  outline: none;
}

#thesaurus-helper-body .request-wrapper button {
  height: 60px;
  margin: 2px 5px;
  padding: 0 15px;
  background: #f8c91c;
  color: #1e2330;
  border: #f8c91c 1px solid;
  border-radius: 20px;
  font-weight: bold;
  font-size: xx-large;
  display: inline-block;
  line-height: 0;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper {
  grid-row: 2;
  align-self: start;
  justify-self: center;
  width: fit-content;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper ul#thesaurus-suggestion-list {
  margin: 0;
  padding: 2px;
  font-size: large;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper li.thesaurus-suggestion {
  list-style-type: none; /* Remove bullets */
  cursor: pointer;
  margin: 2px;
  padding: 2px;
}

#thesaurus-helper-body #thesaurus-suggestions.result-wrapper li.thesaurus-suggestion:hover {
  background: #f8c91c;
  color: #1e2330;
}


#thesaurus-helper-footer {

}

#thesaurus-helper-footer > div {
  width: 90%;
  align-self: start;
  justify-self: center;
}

#thesaurus-helper-footer p {
  background: #1e2330;
  padding: 10px 0;
  border-radius: 10px;
  color: #f8c91c;
  text-align: center;
  font-size: x-large;
}
